@import "tailwindcss";

:root {
  --light-shadow: #2966ff;
}

@theme {
  --color-primary: #2966ff;
  --color-highlight: #f4f7ff;
  --color-midlight: #dee6fc;

  --color-positive: #14db8b;
  --color-positive-highlight: #c4ffe8;
  --color-positive-midlight: #95fcd3;

  --color-negative: #fc3d76;
  --color-negative-highlight: #fae6ec;
  --color-negative-midlight: #fcd2de;

  --color-hint: #fca903;
  --color-hint-highlight: #fcf2dc;
  --color-hint-midlight: #fae5bb;

  --color-outline: #868581;
  --color-light-outline: #ececed;

  --color-page: #fffdf6;
  --color-cardback: #f2f0e9;

  --color-light: #ffffff;
}

.fade-in {
  animation: fadeIn 0.2s cubic-bezier(0.07, 0.44, 0.41, 1.63) forwards;
}

@keyframes fadeIn {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes scroll-x {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.scroll-marquee {
  animation: scroll-x 40s linear infinite;
}
